<html>
    <head>
        <title>Blogs</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blogs</a></h1>
        </div>

        <div>
            <p>published: 12.03.2019, 10:18</p>
            <h2><a href="">First post</a></h2>
            <p>Convolutional neural networks (CNNs) are becoming more and more popular today. CNNs now have become a popular feature
extractor applying to image processing, big data processing, fog computing, etc. CNNs usually consist of several basic units like
convolutional unit, pooling unit, activation unit, and so on</p>
        </div>

        <div>
            <p>published: 14.03.2019, 11:30</p>
            <h2><a href="">My second post</a></h2>
            <p>Learning protocol: All the models and the learning frame-
work are implemented in Lua using Torch 7 library in. For the training, we use the same gradient descent as in with 0.9 of momentum and fixed weight decay for MNIST and for CIFAR</p>
        </div>
    </body>
</html>
